source venv/bin/activate

export SPARK_HOME="/home/g/Desktop/sentiment_analysis/venv/lib/python3.7/site-packages/pyspark"
export PYSPARK_PYTHON="/home/g/Desktop/sentiment_analysis/venv/bin/python"
export PYSPARK_DRIVER_PYTHON="/usr/bin/ipython"
/* export DATABASE_URL="postgresql://localhost/patahackdb" */

