<div class="entry">
  <h3 class="h3">What's goin' on in Colorado?</h3>
  <div class="outer">
    <p><span id="discussion"><%= @formatteddiscussion %></span></p>
  </div>
</div>

<p class="left"><a href="caicdisc">CAIC Discussion</a></p>
<p class="source">Scraped from <a target="_blank" href="/https://avalanche.state.co.us/">avalanche.state.co.us</a></p>
