<div class="entry">
  <h3 class="h3">What's goin' on in Montucky?</h3>
  <div class="outer">
    <p><span id="discussion"><%= @formatteddiscussion %></span></p>
  </div>
</div>

<p class="left"><a href="gnfacdisc">GNFAC Discussion</a></p>
<p class="source">Scraped from <a target="_blank" href="https://www.mtavalanche.com/forecast">mtavalanche.com</a></p>
